/*Styles for the whole body*/
.container {
    font-size: 16px;
    box-sizing: border-box;
    width: 100%;
    padding: 0px;
    background-image: url(../assets/images/img17compressed.jpeg);
    background-size: cover;
        color: #001f75;
}
.btn{
   font-size: 22.5px;
    background-color: #001f75;
    border-radius: 10px;
    box-shadow: 0px 0px 5px #777;
    color: white;
}
.btn:hover{
     box-shadow: 0px 0px 10px #eee;
    color: blueviolet;
}
/*Styles for the Title Section*/
#header {
    background-color: rgba(255, 255, 255, 0.4);
    padding: 10px;
    margin: 0px;
    width: 100%;
    text-align: center;
        border-radius: 0px 0px 20px 20px;
    border-bottom: 1px solid #001f75;
     box-shadow: 0px 0px 30px #ccc;
}
#header img {
    width: 300px;
    height: 150px;
    padding-right: 30px;
}
#header h1 {
    font-size: 45px;
    color: #001f75;
    font-weight: bolder;
}
/*Styles for the Rules Section*/
#rulesSection {
    background-color: rgba(238, 238, 238, 0.4);
    margin: auto;
    box-shadow: 0px 0px 10px #ccc;
    padding: 2px 10px 2px 10px;
    width: 70%;
    border: 2px solid #ddd;
    border-radius: 6px;
    font-size: 16px;
}
#rulesHeader {
    padding: 0px;
    margin: 0px;
}
#rulesHeader:hover {
    color: white;
}
#rules{
    border-bottom: 1px solid black;
     font-size: 20px;
    font-weight: bolder;
}
/*Styles for the Players Names Form*/
.newGame{
    display: none;
     border-bottom: 1px solid black;
     font-size: 20px;
    font-weight: bolder;
}
.newGame:hover {
    color: white;
}
#playingForm {
    background-color: rgba(238, 238, 238, 0.4);
    margin: auto;
    box-shadow: 0px 0px 10px #ccc;
    padding: 2px 10px 2px 10px;
    width: 70%;
    border: 2px solid #ddd;
    border-radius: 6px;
}
form h3{
     border-bottom: 1px solid black;
    font-size: 20px;
    font-weight: bolder;
}
button#playButton {
    width: 16%;
    margin-left: 42%;
    margin-top: 10px;
}
/*Styles for the Gaming Section*/
#gamingArea {
    display: none;
    width: 80%;
    margin: 10px auto;
    font-size: 22.5px; 
}
.player1Area,
.player2Area {
    background-color: transparent;
    border: 2px solid #ddd;
    border-radius: 4px;
    padding-bottom: 20px;
    padding-top: 20px;
    text-align: center;
    color: white;
}
#gamingArea img{
    border: 5px solid #001f75;
    border-radius: 4px;
    box-shadow: 0px 0px 10px #001f75;
    width: 200px;
    height: 210px;
}
.player1NameOutput,.player2NameOutput{
    font-weight: bold;
    font-size: 30px;
    
}
.disableGamingArea {
    opacity: 0.3;
}
